.bundesliga {
    width: 100%;
    height: 80vw;
  }
  
  .bundesliga__container{
    font-family: 'Poppins', sans-serif;
  } 
  
  .bundesliga__title{
    display: flex;
    align-items: center;
    margin: 50px 0 50px 115px;
  }
  
  .img__title {
      width: 5%;
      border-radius: 5%;
  }
  
  .bundesliga__group {
      margin-left: 20px;
      font-family: 'Poppins', sans-serif;  
      font-weight: 700;
      font-size: 2.2rem;
  }
  
  .bundesliga__table {
      min-width: 88%;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto; 
      border: .5px solid #E8E8E8;
  }
  
  .bundesliga__data {
      height: 60px;
      padding: 10px 20px;
      background-color: #7306c7;
      font-weight: 500;
      color: #ffffff;
      text-transform: uppercase;
  }
  
  
  .bundesliga_standings {
      width: 8rem;
      padding: 1rem 5rem .5rem 5rem;
      font-weight: 500;
      border-bottom: 1px solid #E8E8E8;
        
  }
  
  .bundesliga__items {
      display: flex;
      align-items: center;
  }
  
  .bundesliga__rank {
      font-size: 1.2rem;
  }
  
  .bundesliga__img {
      width: 100%;
      margin: auto auto 5px 30px;
  }
  