.cardsRank{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
  
}

.cardsRank__container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cardsRank__title {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}

.cardsRank__table {
    min-width: 88%; 
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}

.cardsRank__data {
    height: 60px;
    padding: 10px 20px;
    background-color: #7306c7;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

.cardsRank__standings {
    padding: 1.2rem 5.3rem .5rem 5.3rem;
    font-weight: 500;
    border-bottom: 2px solid #E8E8E8;
    font-size: 1.2rem;
}

.cardsRank__elements {
    display: flex;
    align-items: center;
}

.cardsRank__picture{
   width: 12rem;
   height: 8rem;
}

.cardsRank__img{
    width: 65%;
    border-radius: 50%;
    border: 2px solid  #E8E8E8;
}

.cardsRank__descriptions{
    font-size: 1.05rem;
    font-weight: 700;
}

.cardsRank__rate{
    margin-top: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.cardsRank__rating{
    margin-left: 1rem;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 50%;
    border: 2px dashed #7306c7;
}

.cardsRank__team{
    width: 4.5rem;
}

/* .cardsRank__yellow{
    font-weight: 700;
    color: #7306c7;
    font-size: 1.4rem;
} */
